<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benben.health.mapper.FormMapper">
    <select id="selectByEmployId" parameterType="integer" resultType="com.benben.health.entity.Form">
        SELECT
	*
FROM
	health_form
	where employId=#{id}
ORDER BY
	STR_TO_DATE( messageDay, '%Y-%m-%d:%H-%i-%s' ) DESC
	LIMIT 0,1
    </select>
</mapper>
